.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  max-width: 1320px;
  margin: 0 auto;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.main-nav {
  display: flex;
  gap: 20px;
  color: #000;
}

.body {
  box-sizing: border-box;
}

.logo,
.contact-info,
.header-phone {
  color: #000;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}


